<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="false"
            id="it.eng.spagobi.studio.jasper.editor2"
            name="name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="it.eng.spagobi.studio.jasper.popupmenus.ResourceNavigatorContribution"
            targetID="it.eng.spagobi.studio.core.views.ResourceNavigator">
         <action
            id="it.eng.spagobi.studio.jasper.actions.NewJasperAction" 
            label="Jasper"
            icon="icons/objecticon_REPORT.png" 
            style="push"
            menubarPath="group.new"
            class="it.eng.spagobi.studio.jasper.actions.NewJasperAction" />
            <!-- menubarPath="it.eng.spagobi.studio.core.main.menu/SpagoBI" -->
      </viewerContribution>
   </extension>
 <extension point = "org.eclipse.ui.editors">
   <editor
       id="org.eclipse.ui.IReport"
       name="IReport Editor"
       extensions="jrxml"
       launcher="it.eng.spagobi.studio.jasper.editors.JasperEditor"
       icon="icons/objecticon_JASPER.png">
   </editor>
 </extension>
    <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="SpagoBI Editors Configuration"
            class="it.eng.spagobi.studio.jasper.preferences.EditorsConfigurationPreferencePage"
            id="it.eng.spagobi.studio.jasper.preferences.EditorsConfigurationPreferencePage">
      </page>
    </extension>    
</plugin>
