<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


<extension point="org.eclipse.ui.activities">
<category name="Filter GUI Category"  id="org.myorg.category.excludeFromGUI"/>
<categoryActivityBinding activityId="org.myorg.activity.excludeFromGUI" categoryId="org.myorg.category.excludeFromGUI"/>
<activity name = "Exclude GUI" description="Exclude GUI" id="org.myorg.activity.excludeFromGUI"/>
<!--<activityPatternBinding activityId="org.myorg.activity.excludeFromGUI" pattern=".*/org\.eclipse\.ui\.examples\.*"/>
<activityPatternBinding activityId="org.myorg.activity.excludeFromGUI"  pattern=".*/org.eclipse.search.menu.*"/>
<activityPatternBinding  activityId="org.myorg.activity.excludeFromGUI" pattern=".*/org.eclipse.edit.menu.*"/>-->
<activityPatternBinding  activityId="org.myorg.activity.excludeFromGUI" pattern=".*/it.eng.spagobi.studio.core.*"/>
<defaultEnablement id="org.myorg.activity.excludeFromGUI"/>
</extension> 
  
   

   <extension
         id="spagoBIStudioBuilder"
         name="SpagoBIStudio Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="it.eng.spagobi.studio.core.builder.SpagoBIStudioBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="spagoBIStudioNature"
         name="SpagoBIStudio Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="it.eng.spagobi.studio.core.builder.SpagoBIStudioNature">
         </run>
      </runtime>
      <builder
            id="it.eng.spagobi.studio.core.spagoBIStudioBuilder">
      </builder>
   </extension>
   <extension point="org.eclipse.ui.views">
      <category
            name="SpagoBI"
            id="it.eng.spagobi.studio.core">
      </category>

   </extension> 
	<!-- RESOURCE NAVIGATOR -->
	<extension
         point="org.eclipse.ui.views">
      <view
            name="SpagoBIStudio Resource Navigator"
            category="org.myorg.category.excludeFromGUI"
            class="it.eng.spagobi.studio.core.views.ResourceNavigator"
            id="it.eng.spagobi.studio.core.views.ResourceNavigator"
            icon="icons/sbiproject.gif">
      </view>
   </extension>
<!-- VIEWER -->
	<extension
         point="org.eclipse.ui.navigator.viewer">
       <viewerActionBinding
            viewerId="it.eng.spagobi.studio.core.views.ResourceNavigator">
         <includes>
            <actionExtension pattern="org.eclipse.ui.navigator.resources.*" /> 
		<actionExtension pattern="it.eng.spagobi.studio.core.views.actionProvider.MyActionProvider" /> 
             
         </includes>
        <excludes>
                <actionExtension pattern="org.eclipse.team.*" />
        </excludes>  
       </viewerActionBinding>
       <viewerContentBinding 
            viewerId="it.eng.spagobi.studio.core.views.ResourceNavigator">
          <includes>
       	      <contentExtension pattern="org.eclipse.ui.navigator.resourceContent" />		       	      
	  	   <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
        <contentExtension pattern="org.eclipse.ui.navigator.resources.linkHelper"/> 
        <contentExtension pattern="org.eclipse.ui.navigator.resources.workingSets"/>
          </includes>
        
       </viewerContentBinding>
   </extension>
   
   <!-- NAVIGATOR CONTENT -->
      <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="it.eng.spagobi.studio.core.views.actionProvider.MyActionProvider"
            id="it.eng.spagobi.studio.core.views.actionProvider.MyActionProvider"
            overrides="org.eclipse.ui.navigator.resources.actions.EditActions" 
            dependsOn="it.eng.spagobi.studio.core.main.menu"
            priority="highest">
         <enablement>
         <!-- A hack to allways be enabled -->
        <!-- <not>
            <systemTest
                  property="MyApp"
                  value="WONT-EVER-BE-SET">
            </systemTest>
         </not>-->
         </enablement>
     </actionProvider>
   </extension>
   
   
   
   
   
	<!-- PERSPECTIVE -->
   <extension point="org.eclipse.ui.perspectives">
	   <perspective
	         name="SpagoBI"
	         class="it.eng.spagobi.studio.core.perspectives.SpagoBIPerspective"
	         id="it.eng.spagobi.studio.core.perspectives.SpagoBIPerspective"
	         icon="icons/sbiproject.gif" >
	   </perspective>
	</extension>
		<!-- PREFERENCE PAGE -->
    <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="SpagoBI"
            class="it.eng.spagobi.studio.core.preferences.SpagoBIPreferencePage"
            id="it.eng.spagobi.studio.core.preferences.SpagoBIPreferencePage">
      </page>
    </extension>
    		<!-- NEW SPAGOBI WIZARD -->
    		
    <extension point="org.eclipse.ui.newWizards">
      <category id="SpagoBI" name="SpagoBI" />
      <wizard
            category="SpagoBI"
            class="it.eng.spagobi.studio.core.wizards.NewSpagoBIProjectWizard"
            hasPages="true"
            icon="icons/sbiproject.gif"
            id="it.eng.spagobi.studio.core.wizards.newSpagoBIProjectWizard"
            name="SpagoBI Project"
            project="true" 
            finalPerspective="it.eng.spagobi.studio.core.perspectives.SpagoBIPerspective" />
   </extension>
    		<!-- CONTEXT MENU SPAGOBI-DOCUMENTS-->
   <extension point="org.eclipse.ui.popupMenus">
   
      <!-- LIMIT ON MODEL FOLDER-->
   <objectContribution
             id="it.eng.spagobi.studio.core.popupmenu.ModelMenuContribution"
             objectClass="org.eclipse.core.internal.resources.Folder"
             targetID="it.eng.spagobi.studio.core.views.ModelMenuNavigator"
              nameFilter="*Metadata Model*"
             >			
			<!-- MENU SBI DOCUMENTS-->
        	 <menu
    	      	id="it.eng.spagobi.studio.core.main.menu" 
				icon="icons/sbiproject.gif"            
			    path="additions" 
	            label="SpagoBI"> 
	            <separator name="SpagoBI"/> 
	         </menu> 
			<!-- NEW MODEL ACTION -->
	         <action
	            id="it.eng.spagobi.meta.editor.business.actions.NewSpagoBIModelAction" 
            	label="New Meta Model"
            	icon="icons/metadata.png"
            	style="push"
            	menubarPath="it.eng.spagobi.studio.core.main.menu/SpagoBI" 
            	class="it.eng.spagobi.meta.editor.business.actions.NewSpagoBIModelAction" /> 
		</objectContribution>
   
   
   
   
   
   
   
   <!-- LIMIT ON SERVER FOLDER-->
   <objectContribution
             id="it.eng.spagobi.studio.core.popupmenu.ResourceNavigatorContribution"
             objectClass="org.eclipse.core.internal.resources.Folder"
             targetID="it.eng.spagobi.studio.core.views.ResourceNavigator"
              nameFilter="*Server*"
             >			
			<!-- MENU SBI DOCUMENTS-->
        	 <menu
    	      	id="it.eng.spagobi.studio.core.main.menu" 
				icon="icons/sbiproject.gif"            
			    path="additions" 
	            label="SpagoBI"> 
	            <separator name="SpagoBI"/> 
	         </menu> 
			<!-- NEW SERVER ACTION -->
	         <action
	            id="it.eng.spagobi.studio.core.actions.NewServerAction" 
            	label="New server"
            	icon="icons/server_active.png"
            	style="push"
            	menubarPath="it.eng.spagobi.studio.core.main.menu/SpagoBI" 
            	class="it.eng.spagobi.studio.core.actions.NewServerAction" /> 
		</objectContribution>
			
		<!-- LIMIT ON FILE-->
		<objectContribution
             id="it.eng.spagobi.studio.core.popupmenu.ResourceNavigatorContribution"
             objectClass="org.eclipse.core.internal.resources.File"
             targetID="it.eng.spagobi.studio.core.views.ResourceNavigator">
			<filter name="path" value="*Sbi Analysis*"/>
			
			<!-- MENU SBI DOCUMENTS-->
        	 <menu
    	      	id="it.eng.spagobi.studio.core.main.menu" 
				icon="icons/sbiproject.gif"            
			    path="additions" 
	            label="SpagoBI"> 
	            <separator name="SpagoBI"/> 
	         </menu> 
			<!-- DEPLOY ACTION-->
	         <action
	            id="it.eng.spagobi.studio.core.actions.DeployDocumentAction" 
            	label="Deploy document into server"
            	style="push"
            	menubarPath="it.eng.spagobi.studio.core.main.menu/SpagoBI" 
            	class="it.eng.spagobi.studio.core.actions.DeployDocumentAction" /> 
			<!-- REFRESH ACTION-->
         	<action
            	id="it.eng.spagobi.studio.core.actions.RefreshTemplateAction" 
            	label="Refresh document template"
            	style="push"
            	menubarPath="it.eng.spagobi.studio.core.main.menu/SpagoBI" 
            	class="it.eng.spagobi.studio.core.actions.RefreshTemplateAction" /> 
		</objectContribution>
		
		<!-- LIMIT ON FOLDER-->
		<objectContribution
             id="it.eng.spagobi.studio.core.popupmenu.ResourceNavigatorContribution2"
             objectClass="org.eclipse.core.internal.resources.Folder"
             targetID="it.eng.spagobi.studio.core.views.ResourceNavigator"
             >             
		<filter name="path" value="*Sbi Analysis*"/>
         <menu
            id="it.eng.spagobi.studio.core.main.menu" 
            path="additions" 
            label="SpagoBI Documents"> 
            <separator name="SpagoBI"/> 
         </menu> 
       <!-- DOWNLOAD ACTION-->
         <action
            id="it.eng.spagobi.studio.core.actions.DownloadDocumentAction" 
            label="Download document from server"
            style="push"
            menubarPath="it.eng.spagobi.studio.core.main.menu/SpagoBI?after=it.eng.spagobi.studio.birt.actions.NewBirtAction" 
            class="it.eng.spagobi.studio.core.actions.DownloadDocumentAction" />
	</objectContribution>
</extension>
<!--       PROPERTY PAGE -->
<extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="it.eng.spagobi.studio.core.properties.PropertyPage"
            icon="icons/metadata.png"            
            id="it.eng.spagobi.studio.core.propertyPage"
            name="SpagoBI"
            >
            <enabledWhen>
           	<!--  <and> -->
           	<adapt type="org.eclipse.core.internal.resources.File" />
            <!--<path type="*Sbi*" />-->
            <!-- </and> -->
            </enabledWhen>
            
      </page>
</extension>
<!--  EDITORS      -->
   <extension
         point="org.eclipse.ui.editors">
      <!-- SERVER EDITOR -->
      <editor
            name="Server editor"
            extensions="sbiserver"
            icon="icons/server_active.png"
            class="it.eng.spagobi.studio.core.editors.ServerEditor"
            id="it.eng.spagobi.studio.core.editors.ServerEditor">
      </editor>
   </extension>



<!-- INTRO -->

<!--
<extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.developer.welcome.application"
            name="RCP Product">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   -->
   <!--
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="it.eng.spagobi.studio.core.welcome.intro">
      </intro>
      <introProductBinding
            introId="it.eng.spagobi.studio.core.welcome.intro"
            productId="org.eclipse.platform.ide">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            id="it.eng.spagobi.studio.core.welcome.configId"
            introId="it.eng.spagobi.studio.core.welcome.intro"
            content="introContent.xml"
            >
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="it.eng.spagobi.studio.core.startup.EarlyStudioStartup"></startup>
   </extension>
  -->
  
  
  
  
  
    <extension point="org.eclipse.ui.actionSets">
   <actionSet
      id="it.eng.spagobi.studio.core.DocumentActionSet"
   label="SpagoBI Documents"
   visible="true">
  <action
        class="it.eng.spagobi.studio.chart.actions.NewWorkbenchChartAction"
        icon="icons/objecticon_CHART.png"
        id="it.eng.spagobi.studio.chart.actions.NewWorkbenchChartAction"
        label="Chart"
        menubarPath="it.eng.spagobi.studio.birt.menu3/content"
        toolbarPath="Normal/additions"
        tooltip="Chart"> 
      </action>
  <action
        class="it.eng.spagobi.studio.birt.actions.NewWorkbenchBirtAction"
        icon="icons/objecticon_REPORT.png"
        id="it.eng.spagobi.studio.birt.actions.NewWorkbenchBirtAction"
        label="Birt"
        menubarPath="it.eng.spagobi.studio.birt.menu3/content"
        toolbarPath="Normal/additions"
        tooltip="Birt"> 
      </action>      
        <action
        class="it.eng.spagobi.studio.dashboard.actions.NewWorkbenchDashboardAction"
        icon="icons/objecticon_DASH.png"
        id="it.eng.spagobi.studio.dashboard.actions.NewWorkbenchDashboardAction"
        label="Birt"
        menubarPath="it.eng.spagobi.studio.birt.menu3/content"
        toolbarPath="Normal/additions"
        tooltip="Dashboard"> 
      </action>
              <action
        class="it.eng.spagobi.studio.documentcomposition.actions.NewWorkbenchDocumentCompositionAction"
        icon="icons/objecticon_COMPOSITE_DOCUMENT.png"
        id="it.eng.spagobi.studio.documentcomposition.actions.NewWorkbenchDocumentCompositionAction"
        label="Document Composition"
        menubarPath="it.eng.spagobi.studio.birt.menu3/content"
        toolbarPath="Normal/additions"
        tooltip="Document Composition"> 
      </action>   
             <action
        class="it.eng.spagobi.studio.jasper.actions.NewWorkbenchJasperAction"
        icon="icons/objecticon_REPORT.png"
        id="it.eng.spagobi.studio.jasper.actions.NewWorkbenchJasperAction"
        label="Jasper"
        menubarPath="it.eng.spagobi.studio.birt.menu3/content"
        toolbarPath="Normal/additions"
        tooltip="Jasper"> 
      </action>      
                   <action
        class="it.eng.spagobi.studio.geo.actions.NewWorkbenchGEOAction"
        icon="icons/objecticon_MAP.png"
        id="it.eng.spagobi.studio.geo.actions.NewWorkbenchGEOAction"
        label="Geo"
        menubarPath="it.eng.spagobi.studio.birt.menu3/content"
        toolbarPath="Normal/additions"
        tooltip="Geo"> 
      </action>  
  <menu
        id="it.eng.spagobi.studio.birt.menu3"
        label="SpagoBI Documents"
        path="additions">
     <groupMarker
           name="content">
     </groupMarker>
     <separator
           name="additions">
     </separator>
  </menu>
   </actionSet> 
</extension>
  
  
  
  
  
  
  
  
  
  
  
  <!-- PROVO A ESCLUDERE CON ACITIVITIES http://www.eclipse.org/forums/index.php?t=msg&goto=494304&
  org.eclipse.debugSupport
org.eclipse.javaDevelopment
org.eclipse.birt.activity
org.eclipse.antDevelopment
org.eclipse.wst.jsdt.debug.ui.activity
org.eclipse.wtp.jee.capabilities
org.eclipse.wtp.web.capabilities
org.eclipse.team.cvs
org.eclipse.wtp.javascript.capabilities
org.eclipse.team
org.eclipse.wtp.webservices.capabilities
org.eclipse.datatools.capabilities.activity
org.eclipse.wtp.xml.capabilities
 
  -->
  



  
  
  
  

</plugin>
