<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Chart Editor"
            extensions="sbichart"
            icon="icons/objecticon_CHART.png"
            class="it.eng.spagobi.studio.chart.editors.ChartEditor"
            id="it.eng.spagobi.studio.chart.editors.ChartEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="it.eng.spagobi.studio.chart.popupmenus.ResourceNavigatorContribution"
            targetID="it.eng.spagobi.studio.core.views.ResourceNavigator">
         <action
            id="it.eng.spagobi.studio.chart.actions.NewChartAction" 
            label="Chart"
            icon="icons/objecticon_CHART.png" 
            style="push"
            menubarPath="group.new"
            class="it.eng.spagobi.studio.chart.actions.NewChartAction" />
            <!-- menubarPath="it.eng.spagobi.studio.core.main.menu/SpagoBI" -->
      </viewerContribution>
   </extension>

</plugin>
