<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="false"
            id="it.eng.spagobi.studio.birt.editor1"
            name="name">
      </editor>
   </extension>
  <!-- 
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="it.eng.spagobi.studio.birt.popupmenus.ResourceNavigatorContribution"
            objectClass="org.eclipse.core.internal.resources.Folder"
            targetID="it.eng.spagobi.studio.core.views.ResourceNavigator"
            >
		<filter name="path" value="*Business_Analysis*"/>            
           <menu
            id="it.eng.spagobi.studio.core.main.menu" 
            path="additions" 
            icon="icons/sbiproject.gif"            
            label="SpagoBI Documents"> 
            <separator name="SpagoBI"/> 
         </menu> 
         <action
            id="it.eng.spagobi.studio.birt.actions.NewBirtAction" 
            label="Birt"
            icon="icons/objecticon_REPORT.png" 
            style="push"
            menubarPath="it.eng.spagobi.studio.core.main.menu/SpagoBI"
            class="it.eng.spagobi.studio.birt.actions.NewBirtAction" />
      </objectContribution>
   </extension>
   -->
   
   
   
<!--      <extension point="org.eclipse.ui.actionSets">
   <actionSet
      id="it.eng.spagobi.studio.core.DocumentActionSet"
   label="SpagoBI Documents"
   visible="true">
<action
              id="it.eng.spagobi.studio.birt.actions.NewBirtAction" 
            label="Birt"
            icon="icons/objecticon_REPORT.png" 
            style="push"
            class="it.eng.spagobi.studio.birt.actions.NewBirtAction"
   		   toolbarPath="Normal/additions" />   

   </actionSet> 
</extension>
      -->
   
   
   
</plugin>
