<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="false"
            id="it.eng.spagobi.studio.birt.editor1"
            name="name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="it.eng.spagobi.studio.birt.popupmenus.ResourceNavigatorContribution"
            targetID="it.eng.spagobi.studio.core.views.ResourceNavigator">
         <action
            id="it.eng.spagobi.studio.birt.actions.NewBirtAction" 
            label="Birt"
            icon="icons/objecticon_REPORT.png" 
            style="push"
            menubarPath="group.new"
            class="it.eng.spagobi.studio.birt.actions.NewBirtAction" />
            <!-- menubarPath="it.eng.spagobi.studio.core.main.menu/SpagoBI" -->
      </viewerContribution>
   </extension>
</plugin>
