<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="it.eng.spagobi.studio.documentcomposition.editors.DocumentCompositionEditor"
            default="true"
            extensions="sbidoccomp"
            icon="icons/objecticon_COMPOSITE_DOCUMENT.png"
            id="it.eng.spagobi.studio.documentcomposition.editors.DocumentCompositionEditor"
            name="Document Composition Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="it.eng.spagobi.studio.documentcomposition.popupmenus.ResourceNavigatorContribution"
            targetID="it.eng.spagobi.studio.core.views.ResourceNavigator">
         <action
               class="it.eng.spagobi.studio.documentcomposition.actions.NewDocumentCompositionAction"
               icon="icons/objecticon_COMPOSITE_DOCUMENT.png"
               id="it.eng.spagobi.studio.documentcomposition.actions.NewDocumentCompositionAction"
               label="Document Composition"
               menubarPath="group.new"
               style="push" />

      </viewerContribution>
   </extension>
   <extension point="org.eclipse.ui.views">
		<view
        category="it.eng.spagobi.studio.doccomp"
        class="it.eng.spagobi.studio.documentcomposition.views.DocumentPropertiesView"
        icon="icons/propertiesIcon.png"
        id="it.eng.spagobi.studio.documentcomposition.views.DocumentPropertiesView"
        name="Document Properties">
	</view>
	</extension>
   <extension point="org.eclipse.ui.views">
		<view
        category="it.eng.spagobi.studio.doccomp"
        class="it.eng.spagobi.studio.documentcomposition.views.DocumentParametersView"
        icon="icons/iconAnalyticalDriverView.png"
        id="it.eng.spagobi.studio.documentcomposition.views.DocumentParametersView"
        name="DocumentParameters">
	</view>
	</extension>
   <extension point="org.eclipse.ui.views">
		<view
        category="it.eng.spagobi.studio.doccomp"
        class="it.eng.spagobi.studio.documentcomposition.views.VideoSizeView"
        icon="icons/videoSize.png"
        id="it.eng.spagobi.studio.documentcomposition.views.VideoSizeView"
        name="Video Size">
	</view>
	</extension>
	
	<!-- tabs di navigazione -->
	<extension point="org.eclipse.ui.views">
    	 <category 
           id="it.eng.spagobi.studio.doccomp"
           name="Sbi Studio Doc Composition">
        </category>
        <view
              category="it.eng.spagobi.studio.doccomp"
              class="it.eng.spagobi.studio.documentcomposition.views.NavigationView"
              icon="icons\view.gif"
              id="it.eng.spagobi.studio.documentcomposition.views.NavigationView"
              name="Navigation"/>

	</extension>	
	
 </plugin>
